{% extends "CoreBundle::layout.html.twig" %}

{% block section %}
    <div id="content">
        <div class="content">
            Please register before create a job!!!
        </div>
    </div>
{% endblock %}